@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }

    body * {
        visibility: hidden;
    }

    #printableArea, #printableArea * {
        margin-left: 0;
        margin-right: 0;
        visibility: visible;
        display:block;
        max-width: 100%;
    }

    .hidden-on-print, .hidden-on-print * {
        display: none !important;
    }

    .avoid-break, .avoid-break * {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        display:inline-block;
    }

    .table {
        display:inline-table !important;
    }

    thead {
        display: table-header-group !important;
    }

    tbody {
        display: table-row-group !important;
    }

    tr {
        display: table-row !important;
    }

    th, td {
        display: table-cell !important;
    }

    .print-left {
        width: 49%;
        float: left !important;
    }

    .print-right {
        width: 49%;
        float: right !important;
    }

    @page {size: A4 portrait; margin-top: 50px;}
}
